#principal{
	width: 870px;
	border: 1px solid red;
}

#galeria{
	background: white;
	border: 1px solid red;
}
.texto{
	color: black;
	background: red;
}

.caixa{
	border: red solid 1px;
	padding: 20px 15px 0px 0px;
	width: 150px;

	margin: 10px 0px 0px 0px;
}

.noticia{
	background: #e5e5e5;
	width: 250px;
	padding: 4px;
	margin: 10px;
	float: left;
}

.conteudo{
	background: blueviolet;
	border: 1px solid gray;
	width: 150px;
	height: 200px;
	margin: 10px;
	float: right;
}

.conteudo2{
	background: red;
	border: 1px solid gray;
	width: 150px;
	height: 150px;
	float: left;
	margin: 10px;
}

.clear{
	clear: both;
}

.imagem{
	background: white;
	width: 250px;
	margin: 10px;
	float: left;
	padding: 5px;
}

body{
	background: #cccccc;
	clear: both;

}

h2{
	margin: 0px;
}

p{
	clear: left;
}